In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('/content/company1.csv')

In [ ]:
data

In [ ]:
sal=list()
title=list()
sal_usd=list()
emp_type=list()
experience=list()
per=list()
f=open("company1.csv","r")
data=f.readline()
while(True):

  data=f.readline()
  if not data:
    break;
  print(data)
  temp=data.split(",")
  sal.append(int(temp[4]))
  title.append(temp[3])
  sal_usd.append(int(temp[5]))
  emp_type.append(temp[2])
  experience.append(temp[1])

1.What is the highest paid job title?

In [ ]:
print(sal,"\n\n")

print(title[sal.index(max(sal))],"is Job title of highest paid employe")

[80000, 30000, 25500, 175000, 120000, 222200, 136000, 219000, 141000, 147100, 90700, 130000, 100000, 213660, 130760, 147100, 90700, 170000, 150000, 150000, 110000, 275000, 174000, 230000]


Rebelow10arch Newgineer is Job title of highest paid employe

2.What is the highest salary in USD?

In [ ]:
print(sal_usd,"\n\n")

print(max(sal_usd),"USD is highest salary\n\n")

[85847, 30000, 25500, 175000, 120000, 222200, 136000, 219000, 141000, 147100, 90700, 130000, 100000, 213660, 130760, 147100, 90700, 170000, 150000, 150000, 110000, 275000, 174000, 230000]


275000 USD is highest salary

3.What is the count of part time employees?

In [ ]:
print(emp_type,"\n\n")
frequency ={}
for emp in emp_type:
  if emp in frequency:
    frequency[emp]+=1
  else:
    frequency[emp]=1
print(frequency,"\n\n")

print(frequency['Part'],"employees are part time employeees")

['Full', 'Part', 'Part', 'Full', 'Full', 'Full', 'Full', 'Full', 'Full', 'Part', 'Full', 'Part', 'Part', 'Full', 'Part', 'Full', 'Full', 'Part', 'Full', 'Full', 'Full', 'Part', 'Part', 'Part']


{'Full': 14, 'Part': 10}


10 employees are part time employeees

4.What is the count of full time employees?

In [ ]:
print(frequency['Full'],"employees are full time employeees\n\n")

14 employees are full time employeees

5.What is the count of newly joined emplpyees?

In [ ]:
print(experience,"\n\n")
frequency ={}
for level in experience:
  if level in frequency:
    frequency[level]+=1
  else:
    frequency[level]=1
print(frequency,"\n\n")

print(frequency['New'],"employees are newly joined employees")

['below10', 'above10', 'above10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'New', 'New', 'below10', 'below10', 'below10', 'below10', 'above10', 'above10', 'below10', 'below10', 'below10']


{'below10': 18, 'above10': 4, 'New': 2}


2 employees are newly joined employees

6.What is the highest salary in rs?

In [ ]:
print(sal,"\n\n")

print(max(sal),"USD is highest salary\n\n")

[80000, 30000, 25500, 175000, 120000, 222200, 136000, 219000, 141000, 147100, 90700, 130000, 100000, 213660, 130760, 147100, 90700, 170000, 150000, 150000, 110000, 275000, 174000, 230000]


275000 USD is highest salary

7.What is the lowest paid job title?

In [ ]:
print(sal,"\n\n")

print(title[sal.index(min(sal))],"is Job title of lowest paid employe")

[80000, 30000, 25500, 175000, 120000, 222200, 136000, 219000, 141000, 147100, 90700, 130000, 100000, 213660, 130760, 147100, 90700, 170000, 150000, 150000, 110000, 275000, 174000, 230000]


ML Newgineer is Job title of lowest paid employe

8.what is the average salary?

In [ ]:
print("\n\nAverage salary is",sum(sal)/len(sal))

Average salary is 147508.8

9.What is the sum of salary?

In [ ]:
print("\n\nTotal salary is",sum(sal))

Total salary is 3687720

10.What is the experience level of employees?

In [ ]:
print("exprience level of employees is",(experience))

exprience level of employees is ['below10', 'above10', 'above10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'New', 'New', 'below10', 'below10', 'below10', 'below10', 'above10', 'above10', 'below10', 'below10', 'below10']